<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- mapper代码,namespace有特殊的意义 -->
<mapper namespace="com.hit.logres.phoneproject.provider.mapper.ShoppingCartMapper">

    <insert id="insertShoppingCart" useGeneratedKeys="true" keyProperty="id" parameterType="com.hit.logres.phoneproject.api.entity.ShoppingCart">
        INSERT INTO `shoppingcart`(`netcustomer_id`) value(#{netCustomerId})
    </insert>

    <delete id="deleteShoppingcart" parameterType="Integer">
        DELETE FROM `shoppingcart` WHERE `id` = #{id}
    </delete>

    <select id="findShoppingCartById" parameterType="Integer" resultType="com.hit.logres.phoneproject.api.entity.ShoppingCart">
        SELECT * FROM `shoppingcart` WHERE `id` = #{id}
    </select>

    <select id="getAllShoppingCart" resultType="com.hit.logres.phoneproject.api.entity.ShoppingCart">
        SELECT * FROM `shoppingcart`
    </select>

    <update id="updateShoppingCart" parameterType="com.hit.logres.phoneproject.api.entity.ShoppingCart">
        UPDATE `shoppingcart` SET `customer_id`=#{netCustomerId} where id=#{id}
    </update>

    <select id="findShoppingCartByNetCustomerId" parameterType="Integer" resultType="com.hit.logres.phoneproject.api.entity.ShoppingCart">
        SELECT * FROM `shoppingcart` WHERE `netcustomer_id` = #{id}
    </select>

</mapper>
